{% extends 'admin/base.html.twig' %}

{% block sub_title %}
    Admin stats
{% endblock %}

{% block admin_page_subtitle %}
    <i class="fas fa-chevron-right title-path-separator"></i>
    <a href="{{ path("admin_stats") }}" class="link--basic">Stats</a>
{% endblock %}

{% macro show_sessions(sessions) %}
    <ul class="ul--simple">
        <li>Sessions: <strong>{{ sessions.nb_sessions }}</strong></li>
        <li>Empty sessions: <strong>{{ sessions.nb_empty_sessions }}</strong></li>
        <li>Commands: <strong>{{ sessions.nb_commands }}</strong></li>
    </ul>
{% endmacro %}
{% from _self import show_sessions %}

{% block content %}
    {{ parent() }}
    <h3>All sessions</h3>
    {{ show_sessions(stats.all_sessions) }}
    <h3>Awake sessions</h3>
    {{ show_sessions(stats.awake_sessions) }}
{% endblock %}
