{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block content %}
    <section class="start-section">
        <h3>Créer une session</h3>
        <div class="indent">
            <div class="create-session__input-row">
                <input type="text" class="session-name--input" placeholder="Nom de session (optionnel)" />
                <button class="create-session--btn">
                    <i class="fas fa-plus"></i>
                    <span class="create-session--btn__title"></span>
                </button>
            </div>
            <div class="create-session__error-message"></div>
        </div>
    </section>

    <section class="literature">
        <h3>Qu'est-ce que Lola ?</h3>
        <div class="indent">
            <p>
                Lola est un langage de script permettant d'effectuer des calculs numériques, avec
                les spécificités suivantes:
            </p>
            <ul>
                <li>
                    {% set url = "https://fr.wikipedia.org/wiki/Syst%C3%A8me_international_d%27unit%C3%A9s" %}
                    Gestion native de l'ensemble des unités SI
                    (<a href="{{ url }}">Système International d'unités</a>):
                    conversion, opérations, typage...
                </li>
                <li>Nombres à très grande précision</li>
            </ul>
            <p>
                Lola gère les concepts classiques de programmation: variables, boucles, conditions,
                tableaux, exceptions, portées de variables, fonctions utilisateur (nommées ou
                anonymes)...
            </p>
        </div>
    </section>

    <section class="literature">
        <h3>Aide et documentation</h3>
        <div class="indent">
            <p>La documentation actuelle est en anglais, accessible ici:</p>
            <p class="indent">
                <a href="https://gitlab.com/yolenoyer/lola/-/blob/master/doc/lola-reference.md">
                    Documentation de référence
                </a>
            </p>
            <p>Le README du projet contient également des informations, ainsi que quelques exemples:</p>
            <p class="indent">
                <a href="https://gitlab.com/yolenoyer/lola">
                    README.md
                </a>
            </p>
        </div>
    </section>
    <section class="literature">
        <h3>Code source</h3>
        <ul class="no-bullet">
            <li>
                <i class="fab fa-gitlab"></i>
                <a href="https://gitlab.com/yolenoyer/lola" class="gitlab-link" target="_blank">
                    Lola (librairie Rust)
                    <img class="gitlab-badge" src="https://gitlab.com/yolenoyer/lola/badges/master/pipeline.svg" />
                </a>
            </li>
            <li>
                <i class="fab fa-gitlab"></i>
                <a href="https://gitlab.com/yolenoyer/lola-cli" class="gitlab-link" target="_blank">
                    Lola en ligne de commande
                </a>
            </li>
            <li>
                <i class="fab fa-gitlab"></i>
                <a href="https://gitlab.com/yolenoyer/lola-server" class="gitlab-link" target="_blank">
                    L'API web
                </a>
            </li>
            <li>
                <i class="fab fa-gitlab"></i>
                <a href="https://gitlab.com/yolenoyer/lola-front" class="gitlab-link" target="_blank">
                    Ce site web
                </a>
            </li>
        </ul>
    </section>
{% endblock %}
