@import '../app';

.sessions-list {
    margin-top: 2em;

    &:empty::before {
        content: "Aucune session publique";
        color: $fg-grey;
        font-size: smaller;
        font-style: italic;
    }

    li {
        height: 2em;
        list-style: none !important;
    }

    a {
        @include link();
    }
}
