@import '../app';
@import '../variables';
@import '../code_highlight';

main {
    h3 {
        i {
            font-size: 0.8em;

            margin-right: 0.5em;
        }
    }
}

.inline-title__part--menu {
    align-self: stretch;
}

.session-dropdown-menu {
    margin-left: -0.3em;

    h4 {
        text-align: center;
    }

    .dropdown-menu__icon {
        padding: 0.4em;
        font-size: 1.6em;
    }
    &:hover {
        .dropdown-menu__icon {
            background-color: lighten($site-bg-color, 10%);
        }
    }

    .dropdown-menu__menu {
        font-size: 1rem;
        line-height: 1.6em;

        .menu-icon {
            display: inline-block;
            width: 1.5em;
        }

        a {
            text-decoration: none;
        }
    }
}

.container {
    padding-bottom: 5rem;
}

.session-history, .session-live {
    margin-top: 1rem;
}

.session-history {
    &:empty::before {
        @include empty-content("Aucun historique");
        margin-top: 1rem;
    }
}

.session-command {
    padding: 1rem;

    border: 1px solid lighten($site-bg-color, 20%);
    background-color: lighten($site-bg-color, 4%);

    font-family: monospace, monospace;

    &:not(:first-child) {
        margin-top: 1rem;
    }

    &:not(.session-command--completed) {
        .output-area {
            display: none;
        }
        .command-zone {
            display: none;
        }
    }

    &.session-command--completed {
        &.session-command--editable {
            background-color: lighten($site-bg-color, 7%);

            button {
                background-color: lighten($site-bg-color, 15%);
            }

            :focus {
                border: 1px solid lighten($site-bg-color, 45%);
            }

            .edit-session-command--btn {
                color: white;
                opacity: 1;
                transform: scale(1.3);
            }

            .import-data--btn {
                display: none;
            }
        }
    }

    &.session-command--editable {
        .input-commands {
            display: block;
        }
    }

    .command-zone {
        display: flex;
        justify-content: flex-end;

        position: relative;
        top: -0.5em;

        & > * {
            $padding-horizontal: 0.5em;
            padding-left: $padding-horizontal;
            padding-right: $padding-horizontal;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }
    }

    .input-commands {
        display: none;
        font-size: 0.8em;
        margin-bottom: 0.5rem;
    }

    .input-area, .output-area {
        white-space: pre;
        @include textarea-style();

        max-height: 15em;
        overflow-y: auto;

        line-height: 1.4em;
    }

    .input-area {
        width: 100%;
        font-family: monospace, monospace;
    }

    .output-area {
        margin-top: 1rem;

        .result-error {
            color: #e14040;
        }
        .result-error, .result-success {
            &:empty {
                &::before {
                    @include empty-content("(résultat vide)");
                    font-size: 0.8rem;
                }
            }
            &:not(:first-child) {
                padding-top: 0.5rem;
            }
        }
    }
}

.modal--rename-session__body {
    h3 {
        margin-bottom: 1em;
    }

    .with-notice-area__area {
        visibility: hidden;

        display: block;
        padding-top: 1em;
        height: 1.4em;
    }

    &.error .with-notice-area__area {
        visibility: visible;
        color: $fg-red;
    }
}

.modal--export-session, .modal--import-session {
    .modal__body {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        width: 100%;
    }
    .json--data {
        margin-top: 1em;

        white-space: pre;
        @include textarea-style();
        font-family: monospace, monospace;

        max-height: 30vh;
        overflow-y: auto;

        line-height: 1.4em;

        text-align: left;
    }
}
