{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block sub_title %}
    Admin
{% endblock %}

{% block page_subtitle %}
    <div class="inline-title__part">
        <h3>
            <a href="{{ path("admin") }}" class="link--basic">Admin</a>
            {% block admin_page_subtitle %}{% endblock %}
        </h3>
    </div>
{% endblock %}

{% block extra_menu_icons %}
    {% if is_admin() %}
        <a href="{{ path('admin_logout') }}" title="Logout">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    {% else %}
        <a href="{{ path('admin_login') }}" title="Login">
            <i class="fas fa-sign-in-alt"></i>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-message flash-message-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
