<template id="{{ id }}" data-modal-buttons="ok,cancel">
    <div class="modal__logo-icon">
        {% block icon %}{% endblock %}
    </div>
    <div class="modal__body">
        <p>
            {% block message %}{% endblock %}
        </p>
    </div>
</template>
