<template id="modal--export-session" data-modal-buttons="ok,copy_to_clipboard">
    <div class="modal__logo-icon">
        <i class="fas fa-sign-out-alt"></i>
    </div>
    <div class="modal__body">
        <p>Données exportées:</p>
        <div class="json--data json-export--data"></div>
    </div>
</template>
