<template id="{{ id }}" data-modal-buttons="ok,ok_no_more_warning,cancel">
    <div class="modal__logo-icon">
        {% block icon %}{% endblock %}
    </div>
    <div class="modal__body">
        <p>
            {% block message %}{% endblock %}
        </p>
        <p class="text--small">
            Attention: modifier l'historique implique une réinitialisation complète de la session
            (si certaines commandes sont longues à exécuter, alors cela peut prendre du temps).
        </p>
    </div>
</template>
