<template id="modal--rename-session" data-modal-buttons="ok,cancel">
    <div class="modal__logo-icon">
        <i class="fas fa-edit"></i>
    </div>
    <div class="modal__body modal--rename-session__body">
        <h3>Renommer la session</h3>
        <div class="with-notice-area">
            <input type="text" class="modal--rename-session__new-name" />
            <div class="with-notice-area__area"></div>
        </div>
    </div>
</template>
