{% extends 'admin/base.html.twig' %}

{% block sub_title %}
    Login
{% endblock %}

{% block page_subtitle %}
    <div class="inline-title__part">
        <h3>
            <a href="{{ path("admin_login") }}" class="link--basic">Login</a>
        </h3>
    </div>
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="center-child">
        {{ form(form) }}
    </div>
{% endblock %}
