@import 'variables';

.code-token {
    &--keyword {
        color: $fg-orange;
    }

    &--type {
        color: $fg-sea;
    }

    &--quantity {
        color: $fg-sea;
        font-weight: bold;
    }

    &--literal, &--string {
        color: $fg-magenta;
    }

    &--string-escape {
        color: $fg-orange;
    }

    &--number, &--exponent {
        color: #99bf61;
    }

    &--exponent {
        font-weight: bold;
    }

    &--unit {
        color: var(--fg-yellow);;
    }

    &--function {
        font-weight: bold;
        color: ivory;
    }

    &--comment {
        color: $fg-grey;
    }
}
