@import 'variables';

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

.layout {
    $padding-horizontal: 2rem;

    display: grid;
    grid-template:
        "header" auto
        "main"   1fr
        / auto
    ;

    height: 100%;

    header {
        grid-area: header;

        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 0.8em;

        border-bottom: 1px solid lighten($site-bg-color, 20%);

        padding-left: $padding-horizontal;
        padding-right: calc(#{$padding-horizontal} - #{$menu-button-padding});
        $padding-vertical: 0;
        padding-top: $padding-vertical;
        padding-bottom: $padding-vertical;

        .header__left {
            display: flex;
            align-self: stretch;
        }

        .header__right {
        }

        .menu-zone {
            font-size: 1.4rem;

            & > * {
                padding: $menu-button-padding $menu-button-padding / 1.5;
            }
        }
    }

    main {
        grid-area: main;

        padding-left: $padding-horizontal;
        padding-right: $padding-horizontal;
        padding-bottom: 2rem;

        overflow-y: auto;
    }
}
