@import 'variables';

:root {
    --fg-red: #{$fg-red};
    --fg-green: #{$fg-green};
    --fg-blue: #{$fg-blue};
    --fg-orange: #{$fg-orange};
    --fg-yellow: #{$fg-yellow};
    --fg-magenta: #{$fg-magenta};
    --fg-sea: #{$fg-sea};
    --fg-grey: #{$fg-grey};
}

body {
    color: $site-fg-color;
    background-color: $site-bg-color;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
    $margin-vertical: 2rem;
    margin-top: $margin-vertical;
    margin-bottom: $margin-vertical;
}

p {
    &:not(:first-child) {
        margin-top: 1em;
    }
}

h1 {
    --margin-top: #{$h1-margin-top};
    --font-size: #{$h1-font-size};
}

h2 {
    --margin-top: #{$h2-margin-top};
    --font-size: #{$h2-font-size};
}

h3 {
    --margin-top: #{$h3-margin-top};
    --font-size: #{$h3-font-size};
}

h1, h2, h3 {
    margin-top: var(--margin-top);
    font-size: var(--font-size);
    margin-bottom: calc(var(--margin-top) / 1.8);
}

h1, h2, h3, h4, h5, h6 {
    &:first-child {
        margin-top: $title-margin-top;
    }
}

strong {
    font-weight: bold;
}

ul.no-bullet {
    li {
        list-style: none !important;
    }
}

button, .button {
    $padding-vertical: 0.4rem;
    $padding-horizontal: 0.6rem;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
    padding-left: $padding-horizontal;
    padding-right: $padding-horizontal;

    transition: 0.3s opacity;

    color: $button-fg-color;
    background-color: lighten($site-bg-color, 10%);

    border: none;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3);
    text-decoration: none;
    cursor: pointer;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;

    &:hover {
        background-color: lighten($site-bg-color, 16%);
    }
    &:active {
        background-color: lighten($site-bg-color, 25%);
        transition: none;
    }
    &:disabled {
        opacity: 0.2 !important;
        cursor: not-allowed;
    }
}

a.button {
    padding-top: 0.6rem;
}

a, a:visited {
    color: $button-fg-color;
}

a.link--basic {
    text-decoration: none;
}

a.link {
    @include link();
}

input[type=text], input[type=password], textarea {
    @include textarea-style();

    transition: 0.3s color;

    &.input--error {
        color: $fg-red;
    }

    &.input--success {
        color: $fg-green;
    }
}

textarea {
    resize: vertical;
}

form {
    label {
        margin-right: 1em;
    }

    & > table > tbody > tr:not(:first-child) > td {
        padding-top: 1em;
    }
}

.text--danger {
    color: $fg-red;
}

.text--warning {
    color: $fg-orange;
}

.text--success {
    color: $fg-green;
}

.text--blue {
    color: $fg-blue;;
}

.text--small {
    font-size: smaller;
    color: #888
}

.text--monospace {
    font-family: monospace, monospace;
}

.command {
    cursor: pointer;
}

.inline-title {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    & > * {
        display: flex;
        align-items: center;
    }

    & > :not(:first-child) {
        &::before {
            content: "∙";

            font-size: 1.5rem;

            $padding-horizontal: 1rem;
            padding-left: $padding-horizontal;
            padding-right: $padding-horizontal;
        }
    }

    h1, h2, h3, h5, h4, h6 {
        position: relative;
        top: 0.1em;
        margin: 0;
    }
}

.title-path-separator {
    position: relative;
    top: -0.1em;

    $ph: 0.2em;
    padding-left: $ph;
    padding-right: $ph;

    font-size: 0.7em;
}

.indent {
    margin-left: 1.5em;
}
h1, h2, h3, h5, h4, h6 {
    & + .indent {
        margin-top: 1em;
    }
}

.center-child {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.layout {
    header .header__left .menu-zone {
        position: relative;
        left: -0.6em;

        font-size: 1em;
    }
}

.block-input {
    width: 100%;

    label {
        display: block;
    }
    input {
        display: block;
    }
}

.modal {
    $modal-padding: 1em;

    font-size: 1.2em;

    .modal__background {
        background-color: rgba(0,0,0,0.7);
    }

    .modal__window {
        .modal__logo-icon {
            &:not(:empty) {
                margin-bottom: 1em;
            }

            i {
                opacity: 0.3;
            }
        }
        .modal__body {
            padding: $modal-padding;
        }
        .modal__commands {
            margin-top: 1em;

            button {
                font-size: 1.1em;
                background-color: transparent;
                border: 2px solid #444;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                    border: 2px solid #888;
                }
            }
        }
    }
}

.menu-zone {
    display: inline-flex;

    & > * {
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
}

.dropdown-menu {
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }

    .dropdown-menu__icon {
    }

    .dropdown-menu__menu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 0rem;
        display: none;
        box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.7);

        z-index: 10;

        padding: 0.5em 0.8em;

        background-color: $site-bg-color;
        border: 1px solid lighten($site-bg-color, 20%);

        // AFAC
        // visibility: visible;
        // opacity: 1;
        // display: block;

        li {
            display: flex;
            align-items: stretch;

            & > * {
                display: flex;
                align-items: center;
                flex-grow: 1;
            }

            height: 1.8em;

            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
    }

    &:hover > .dropdown-menu__menu, .dropdown-menu__menu:hover
    {
        visibility: visible;
        opacity: 1;
        display: block;
    }
}

.green-flash {
    animation: green_flash 1s ease-out 1 normal;

    @keyframes green_flash {
        0% {
            background-color: var(--fg-green);
        }
        100% {
            background-color: transparent;
        }
    }
}

.literature {
    ul {
        margin-left: 1.8em;
        margin-top: 0.5em;
        ;
        li {
            list-style: disc;
            line-height: 1.8em;
        }
    }

    a {
        @include link();
    }
}

.gitlab-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .gitlab-badge {
        margin-left: 0.7em;
        position: relative;
        top: -0.2em;
    }
}

i.fab + .gitlab-link {
    margin-left: 0.5em;
}
