<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Lola{% endblock %}
            {% block sub_title %}{% endblock %}
        </title>
        <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="layout">
                {% block header %}
                    <header>
                        <div class="header__left">
                            {% block page_title %}
                            <div class="inline-title">
                                <div class="inline-title__part">
                                    <a href="{{ path('home') }}" class="link--basic">
                                        <h2>Lola</h2>
                                    </a>
                                </div>
                                {% block page_subtitle %}{% endblock %}
                            </div>
                            {%  endblock %}
                        </div>
                        <div class="header__right">
                            <div class="menu-zone">
                                {% block extra_menu_icons %}{% endblock %}
                                <a href="{{ path('list_public_sessions') }}" title="Liste des sessions publiques">
                                    <i class="fas fa-list"></i>
                                </a>
                                <a href="{{ path('home') }}" title="Accueil">
                                    <i class="fas fa-home"></i>
                                </a>
                            </div>
                        </div>
                    </header>
                {% endblock %}
                <main>
                    {% block content %}{% endblock %}
                </main>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script>
                app = {
                    lolaApiUrl: {{ lola_api_url | json_encode | raw }},
                };
            </script>
        {% endblock %}
        {% include 'modal_setup.html.twig' %}
    </body>
</html>
