{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('list_public_sessions') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('list_public_sessions') }}
{% endblock %}

{% block page_subtitle %}
<div class="inline-title__part">
    <h3>Sessions publiques</h3>
</div>
{% endblock %}

{% block content %}
    <ul class="sessions-list">{% for session in sessions %}
            <li>
                <a href="{{ session_path(session.session_id) }}">
                    {{ session.session_id }}
                </a>
            </li>
    {% endfor %}</ul>
{% endblock %}
